build
*.swp
*tags

# OS X
####################
.Spotlight-V100/
.Trashes/
._*
.AppleDouble
.DS_Store
.LSOverride
Icon?

# Xcode
####################
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.user
*.xcuserstate
*.moved-aside
*~.nib
.idea/
DerivedData/
project.xcworkspace/
xcuserdata/
profile
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# vs studio
*.opendb
*.opensdf
*.sdf
*.suo
*.user
bin/
x64/
misc/msvc17/.vs/*
misc/msvc17/OpenArena/.vs/*
misc/msvc17/vk_report
misc/msvc17/*.log
misc/msvc17/*.psess
misc/msvc17/*.vspx
